.hidden {
  display: none;
}

#underNav{
  margin-top: 250pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  position: fixed;
  top:2pt;
  width: 100%;
  padding-bottom: 100pt;
}

li {
  float: left; /*center로 바꾸기*/
  display: inline;
  display: block;
  color: black;
  padding: 8px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
li:hover{
  background-color: #C0FFFF;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 0px 10px 0px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#clock {
  text-align: center;
  font-size: 150px;
  margin-bottom: 1px;
  font-family: 'Rubik', sans-serif;
}

#login-form {
  justify-content: center;
  align-items: center;
}

#login-form input {
  margin-bottom: 1px;
  padding: 10px;
  border: none;
  text-align: center;
}

#greeting {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 1px;
  font-family: 'Nanum Gothic', sans-serif;
}

#display {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 42px;
  font-family: 'Nanum Gothic', serif;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-form input {
  width: 15%;
  height: 20pt;
  border: none;
  text-align: center;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

#todo-list {
  text-align: center;
  margin-top: 15px;
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 5px;
  font-family: 'Rubik', sans-serif;
}

#weather {
  margin-left: 890px;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}

#api_key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.img {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 120;
  width: 100%;
  background-image: url("images/5.jpeg");
}
/* gradient로 변경
